<%- include('../../partials/header.ejs') %>

<body>
    <%- include('../../partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
        <hr>
        <table class="table table-bordered table-dark table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TÍTULO</th>
                    <th>SLUG</th>
                    <th>AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %> 
                    <tr>
                        <th><%- category.id %></th>
                        <th><%- category.title %></th>
                        <th><%- category.slug %></th>
                        <th>
                            <form action="/admin/categories/edit/<%- category.id %>" method="get" style="display: inline-block;">
                                <button class="btn btn-warning" >Editar</button>
                            </form>
                            <form action="/categories/delete" method="post" onsubmit="confirmarDelecao(event, this)" style="display: inline-block;">
                                <button class="btn btn-danger" name="id" value="<%- category.id %>">Deletar</button>
                            </form>
                        </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</body>
<script>
    function confirmarDelecao(event, form){
        var decision = confirm('Você deseja excluir essa categoria?')
        if(decision){
            form.submit()
        } else {
            event.preventDefault()
        }
    }
</script>

<%- include('../../partials/footer.ejs') %>